@import url("components/avatar.css");
@import url("components/button.css");
@import url("components/Banner.css");

body{
    margin: 0;
    font-family: sans-serif;
}

h1, h2, h3{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

img{
    width: 150px;
    overflow-clip-margin: content-box;
    overflow: auto;
}

.avatar h3{
    text-align: center;
    margin-bottom: 70px;
    display: block;
}

.footer {
    text-align: center;
    padding: 60px;
    background-color: #2c2b2b;
}




