.avatar{
        width: 100%;
        display: flex;
        margin-bottom: 50px;
        justify-content: space-around;
        position: relative;


}

.card-list {
    display: flex;
    justify-content: space-between;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 30px;
    flex-wrap: wrap;
}

.card {
    width: 200px;
    border-radius: 3px;
    box-shadow: 0 0 5px rgb(230,230,230);
    text-align: center;
    padding: 20px;
    border: 1px solid rgb(230,230,230);
}

